<!DOCTYPE html>
{% load staticfiles %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="bookingstyle.css" rel="stylesheet">
    
 <link rel="stylesheet" type="text/css" href="{% static 'news_analytics/css/bookingstyle.css' %}" />
  
  </head>
<body>
Error encountered!!
 
</body>
</html>
